Package: frr-doc
Source: frr
Version: 3.1.1.ATC
Architecture: all
Maintainer: Christian Hammers <ch@debian.org>
Installed-Size: 196
Suggests: frr
Section: net
Priority: optional
Homepage: http://www.frr.net/
Description: documentation files for frr
 This package includes info files for frr, a free software which manages
 TCP/IP based routing protocols.  It supports BGP4, BGP4+, OSPFv2, OSPFv3,
 IS-IS, RIPv1, RIPv2, and RIPng as well as the IPv6 versions of these.
